/**---------------------------------------------------------------------------------------------------------------------------------------------GENERAL
*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;
}
p, div {
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color: #000;
}
a:hover, a:focus {
	text-decoration: none;
	color: #666;
	-webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}

.ng-cloak {
  /* this will change to block when scope and angular is ready */
  display:none;
}

/** shake that */
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg);
  }
  
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg);
  }
  
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg);
  }
  
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg);
  }
  
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  12.5% {
    -webkit-transform: translateX(-6px) rotateY(-5deg);
    transform: translateX(-6px) rotateY(-5deg);
  }
  
  37.5% {
    -webkit-transform: translateX(5px) rotateY(4deg);
    transform: translateX(5px) rotateY(4deg);
  }
  
  62.5% {
    -webkit-transform: translateX(-3px) rotateY(-2deg);
    transform: translateX(-3px) rotateY(-2deg);
  }
  
  87.5% {
    -webkit-transform: translateX(2px) rotateY(1deg);
    transform: translateX(2px) rotateY(1deg);
  }
  
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.shake {
  -webkit-animation: shake 400ms ease-in-out;
  animation: shake 400ms ease-in-out;
}

#global-error {
	position: fixed;
	top: 0;
	width: 50%;
	left: 25%;
}

form .error {
/*  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;*/
  color: #a94442;
}
form .success {
/*  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;*/
  color: #3c763d;
}

/**---------------------------------------------------------------------------------------------------------------------------------------------LOGIN
*/

.full-screen-bg {
	width: 100%;
	height: 100%;
	background-color: #ccc;
	position: absolute;
	top: 0;
	left: 0;
	/*background: url(../images/login-bg.png) bottom center;*/
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
}

.login {
	width: 320px;
	padding: 8% 0 0;
	margin: auto;
	position: relative;
}

.login h1 {
	font-weight: 300;
	text-align: center;
}

.login form {
  position: relative;
	background-color: #fff;
	padding: 26px 24px 46px;
}
.login form label {
	font-weight: 400;
}
.login form .btn {
	width: 100%;
}
.login form .btn-facebook {
	width: 50%;
	background-color: #3b5998;
	color: #fff;
}
.login form hr {
	border-top: 1px solid #ccc;
}

/**---------------------------------------------------------------------------------------------------------------------------------------------REGISTER
*/

.full-screen-bg {
	width: 100%;
	height: 100%;
	background-color: #ccc;
	position: absolute;
	top: 0;
	left: 0;
	/*background: url(../images/login-bg.png) bottom center;*/
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
}

.register {
	width: 320px;
	padding: 8% 0 0;
	margin: auto;
	position: relative;
}

.register h1 {
	font-weight: 300;
	text-align: center;
}

.register form {
  position: relative;
	background-color: #fff;
	padding: 26px 24px 46px;
}
.register form label {
	font-weight: 400;
}
.register p {
	clear: right;
}

